*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 880px;
    background-color: #10439F;
}

.game_field {
    height: 800px;
    width: 800px;
    background-color: #874CCC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_f {
    background-color: #FFE6E6;
}